:host {
  display: flex;
  justify-content: center;
  padding: 15px;
  min-height: calc(100vh - 40px);
  .main {
    width: 1056px;
    padding: 15px 20px;
    background: #fff;
    .caption {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      justify-content: space-between;
    }
    .empty {
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }
    .list {
      .item {
        width: 244.5px;
        overflow: hidden;
        .cover {
          width: 244px;
          height: 244px;
        }
      }
    }
  }
}
