<div class="catalog">
  <div class="buttons">
    <span nz-icon nzType="folder-add" class="button" (click)="addVolume()" title="新增卷"></span>
    <span nz-icon nzType="folder" class="button" (click)="manageVolume()" title="管理卷"></span>
    <span nz-icon nzType="file-markdown" class="button" (click)="manageChapter()" title="管理章节"></span>
  </div>
  <div class="volume-list">
    <div *ngFor="let v of volumes" class="volume">
      <div (dblclick)="updateVolumeName(v)" class="volume-header">
        <div>{{ v.name }}</div>
        <span *ngIf="!volumeManaging" class="button" nz-icon nzType="plus" nzTheme="outline" (click)="addChapter(v)"
              title="新增章节"></span>
        <span *ngIf="volumeManaging" class="button" nz-icon nzType="delete" nzTheme="outline" (click)="deleteVolume(v)"
              title="删除卷"></span>
      </div>
      <div class="chapter"
           *ngFor="let c of v.chapters"
           (click)="selectChapter(c)"
           (dblclick)="updateChapterName(c)"
           [class.selected]="selectedChapter === c"
      >
        <div>{{ c.name }}</div>
        <span *ngIf="chapterManaging" class="button" nz-icon nzType="delete" nzTheme="outline"
              (click)="deleteChapter(c)"
              title="删除章节"></span>
      </div>
    </div>
  </div>
  <div class="project-name">世界操控系统</div>
</div>
<!--<quill-editor class="editor" *ngIf="selectedChapter" [(ngModel)]="selectedChapter.content"></quill-editor>-->
<div class="input" *ngIf="selectedChapter">
  <ngx-editor
    class="editor"
    [editor]="editor"
    [(ngModel)]="selectedChapter.content"
    (ngModelChange)="onChange()"
    placeholder="请输入内容"
    (keyup.enter)="onEnter()"
  ></ngx-editor>
  <div class="counts">
    <div>本章字数：{{ wordCount }}</div>
  </div>
</div>
<div class="welcome" *ngIf="!selectedChapter">欢迎使用轨纪</div>
<div class="tools">
  <button class="save" (click)="save()">s</button>
  <button (click)="insert()">i</button>
</div>
