:host {
  display: flex;
  height: calc(100vh - 80px);

  .catalog {
    flex: 0 0 200px;

    .volume {
      .volume-header {
        display: flex;
      }
    }
  }

  .editor {
    height: 100%;
    flex: 1;
  }

  .tools {
    width: 40px;
    flex: 0 0 40px;
  }
}
