<div class="catalog">
  <div *ngFor="let v of volumes" class="volume">
    <div (dblclick)="updateVolumeName(v)" class="volume-header">
      <div>{{ v.name }}</div>
      <div class="buttons">
        <span nz-icon nzType="plus" nzTheme="outline" (click)="addChapter(v)"></span>
      </div>
    </div>
    <div class="chapter"
         *ngFor="let c of v.chapters"
         (click)="selectChapter(c)"
         (dblclick)="updateChapterName(c)"
         [class.selected]="selectedChapter === c"
    >
      <div>{{ c.name }}</div>
      <div class="buttons">
        <span nz-icon nzType="delete" nzTheme="outline" (click)="deleteChapter(c)"></span>
      </div>
    </div>
  </div>
</div>
<!--<quill-editor class="editor" *ngIf="selectedChapter" [(ngModel)]="selectedChapter.content"></quill-editor>-->
<ngx-editor
  class="editor"
  *ngIf="selectedChapter"
  [editor]="editor"
  [(ngModel)]="selectedChapter.content"
  (ngModelChange)="onChange()"
  placeholder="请输入内容"
></ngx-editor>
<div class="welcome" *ngIf="!selectedChapter">欢迎使用轨纪</div>
<div class="tools">
  <button class="save" (click)="save()">s</button>
</div>
