:host {
  display: flex;
  height: calc(100vh - 40px);
  background: #fff;

  .catalog {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;

    .buttons {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      font-size: 22px;

      .button {
        cursor: pointer;
        margin-right: 10px;
      }
    }

    .volume-list {
      flex: 1;
      padding: 15px 10px;

      .volume {
        margin-bottom: 15px;
        cursor: pointer;

        .volume-header {
          display: flex;
          justify-content: space-between;
        }

        .chapter {
          padding: 10px 12px;
          margin: 5px 0;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
        }

        .chapter.selected {
          background: #ccc;
        }
      }
    }

    .project-name {
      border-top: 1px solid #ccc;
      height: 40px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      font-size: 16px;
    }
  }

  .input, .welcome {
    height: 100%;
    flex: 1;
    background: #eee;
  }

  .input {
    display: flex;
    flex-direction: column;

    .editor {
      flex: 1;
      height: 100%;
    }

    .editor ::ng-deep .NgxEditor {
      border: none;
      outline: none;
      background: #eee;
      height: 100%;

      .ProseMirror {
        height: 100%;
      }
    }

    .counts {
      height: 40px;
      background: #fff;
      border-top: 1px solid #ccc;
      padding: 10px;
      display: flex;
      align-items: center;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }
  }

  .welcome {
    padding: 10px;
  }

  .tools {
    width: 40px;
    flex: 0 0 40px;
  }
}
