<div class="avatar" *ngIf="thing">
  <img nz-image [nzSrc]="avatar" [alt]="thing.name">
  <nz-upload nzAction="upload" [nzShowUploadList]="false" [nzData]="{dir: 'avatars'}" (nzChange)="avatarChange($event)">
    <button nz-button nzType="primary" nzSize="default">上传图片</button>
  </nz-upload>
</div>
<div class="item">
  <div class="key">名称：</div>
  <div class="value">
    <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="ageButton">
      <input type="text" nz-input [(ngModel)]="name" placeholder="请输入名称"/>
    </nz-input-group>
    <ng-template #ageButton>
      <button nz-button nzType="primary" nzSize="default" nzSearch (click)="updateName()">确认</button>
    </ng-template>
  </div>
</div>
<div class="item">
  <div class="key">制造者：</div>
  <nz-select [(ngModel)]="creator" nzPlaceHolder="请选择制造者" (ngModelChange)="onCreatorChange()">
    <nz-option *ngFor="let r of roles;" [nzLabel]="r.name" [nzValue]="r.id"></nz-option>
  </nz-select>
</div>
<div class="item">
  <div class="key">持有人：</div>
  <nz-select [(ngModel)]="owner" nzPlaceHolder="请选择持有人" (ngModelChange)="onOwnerChange()">
    <nz-option *ngFor="let r of roles;" [nzLabel]="r.name" [nzValue]="r.id"></nz-option>
  </nz-select>
</div>
<div class="item textarea">
  <div class="key">物品介绍：</div>
  <textarea nz-input [(ngModel)]="desc" [nzAutosize]="{ minRows: 5, maxRows: 15 }"
            placeholder="请输入介绍"></textarea>
  <button nz-button nzType="primary" (click)="updateDesc()">确认</button>
</div>
<div class="buttons">
  <button nz-button nzDanger (click)="deleteThing()">删除物品</button>
</div>
