:host {
  display: block;
  height: calc(100vh - 80px);
  .layout {
    height: 100%;
    .menu {
      height: 100%;
      li {
        margin: 20px 0;
      }
    }
    .content {
    }
    .tools {
      border-left: 1px solid #eee;
      ul li {
        font-size: 18px;
        margin: 0;
        padding: 0 10px;
      }
    }
  }

}
