<nz-layout class="layout">
  <nz-sider class="info" nzWidth="300px" nzTheme="light" nzCollapsible [nzCollapsedWidth]="0" [nzZeroTrigger]="trigger">
    <h3>作品信息</h3>
    <div *ngIf="project">
      <nz-upload class="cover-upload" nzAction="upload" nzName="file" (nzChange)="onChange($event)"
                 [nzData]="{dir: 'covers'}" [nzShowUploadList]="false ">
        <img class="cover" [src]="project.cover" [alt]="project.name"/>
      </nz-upload>
      <div>
        <input type="text" [(ngModel)]="project.name" (keydown.enter)="updateProjectName()"/>
      </div>
      <div>
        <textarea class="desc" [(ngModel)]="project.desc"></textarea>
        <button (click)="updateProjectDesc()">submit</button>
      </div>
    </div>
  </nz-sider>
  <nz-content class="tracks">
    <h3>时间轴</h3>
  </nz-content>
  <nz-sider class="tools" nzTheme="light" nzCollapsible nzReverseArrow [nzCollapsedWidth]="0" [nzZeroTrigger]="trigger">
    <h3>我的工具</h3>
  </nz-sider>
</nz-layout>

<ng-template #trigger>
  <span nz-icon nzType="swap" nzTheme="outline"></span>
</ng-template>


