<nz-layout class="layout">
  <nz-sider class="info" nzWidth="300px" nzTheme="light" nzCollapsible [nzCollapsedWidth]="0" [nzZeroTrigger]="trigger">
    <h3>作品信息</h3>
    <div *ngIf="project">
      <nz-upload class="cover-upload" nzAction="upload" nzName="file" (nzChange)="onChange($event)"
                 [nzData]="{dir: 'covers'}" [nzShowUploadList]="false ">
        <img class="cover" [src]="project.cover" [alt]="project.name"/>
      </nz-upload>
      <div>
        <input type="text" [(ngModel)]="project.name" (keydown.enter)="updateProjectName()"/>
      </div>
      <div>
        <textarea class="desc" [(ngModel)]="project.desc"></textarea>
        <button (click)="updateProjectDesc()">submit</button>
      </div>
    </div>
  </nz-sider>
  <nz-content class="tracks">
    <div class="timeline">
      <div class="name">时间</div>
      <div class="day">20/二</div>
      <div class="day">21/三</div>
      <div class="day">22/四</div>
      <div class="day">23/五</div>
      <div class="day">24/六</div>
      <div class="day">25/日</div>
      <div class="day">26/一</div>
    </div>
    <div class="track" *ngFor="let t of tracks">
      <div class="name">{{t.name}}</div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
      <div class="affair">
        <div class="affair-name">诸葛狗蛋与西门翠花离婚</div>
        <div class="affair-content">结婚3年，诸葛狗蛋与西门翠花因为各自的工作原因，聚少离多，感情逐渐淡去，加上本身就性格不合，双方家人之间的矛盾，都加快了这段婚姻走到尽头</div>
      </div>
    </div>

  </nz-content>
  <nz-sider class="tools" nzTheme="light" nzCollapsible nzReverseArrow [nzCollapsedWidth]="0" [nzZeroTrigger]="trigger">
    <h3>我的工具</h3>
  </nz-sider>
</nz-layout>

<ng-template #trigger>
  <span nz-icon nzType="swap" nzTheme="outline"></span>
</ng-template>


