.layout {
  height: calc(100% - 80px);
  .info {
    padding: 10px;
    .cover-upload{
      cursor: pointer;
      border: 1px solid #eee;
    }
    .desc {
      width: 240px;
      height: 200px;
    }
  }
  .tracks {
    padding: 10px;
    display: flex;
    overflow-y: auto;
    .timeline {
      flex: 0 0 50px;
    }
    .track {
      background: #fff;
      margin-left: 10px;
      padding: 3px;
      flex: 0 0 200px;
      .affair {
        padding: 6px;
        margin-bottom: 3px;
        background: #f6f6f6;
        .affair-name {
          font-weight: bold;
          margin-bottom: 3px;
        }
        .affair-content {
          font-size: 12px;
        }
      }
    }
  }
  .tools {
    padding: 10px;
  }
}
