:host {
  display: block;
  height: 100%;
  .layout {
    height: 100%;
  }
  .content {
    background: #fff;
    height: 100%;
    border-right: 1px solid #eee;
    padding: 10px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      button {
        margin-left: 5px;
      }
      .tags-select {
        width: 200px;
      }
    }
    .list {
      display: grid;
      grid-template-columns: repeat(auto-fill, 100px);
      grid-gap: 10px;
      .role {
        cursor: pointer;
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #eee;
        margin-right: 10px;
        .avatar {
          width: 100px;
          height: 100px;
        }
        .name {
          padding: 10px 0;
        }
      }
    }
  }
  .sider {
    overflow-y: auto;
  }

}
.tags-input {
  display: flex;
  align-items: center;
  padding: 8px;
  button {
    margin-left: 4px;
    width: 30px;
  }
}
