:host {
  display: flex;
  justify-content: center;
  min-height: calc(100% - 80px);
  .main {
    width: 1056px;
    padding: 15px;
    background: #fff;
    display: flex;
    .info {
      flex: 3;
    }
    .avatar {
      flex: 1;
      display: flex;
      align-items: start;
      justify-content: center;
      padding: 15px;
      img {
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
}
