<nz-layout class="layout">
  <nz-sider class="detail" nzTheme="light" nzWidth="300px">
    <app-track-panel *ngIf="selectedAffair" [affair]="selectedAffair"></app-track-panel>
  </nz-sider>
  <nz-content class="content">
    <div class="track" *ngFor="let t of tracks">
      <div class="track-header">
        <span>{{ t.name }}</span>
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="affairMenu">
          <span nz-icon nzType="menu"></span>
        </a>
      </div>
      <nz-timeline class="timeline">
        <nz-timeline-item *ngFor="let a of t.affairs">
          <div class="affair" (click)="selectAffair(a)">
            <span>{{a.name}}</span>
            <span class="date">{{a.startTime | date: 'MM-dd'}}</span>
          </div>
        </nz-timeline-item>
      </nz-timeline>
      <nz-dropdown-menu #affairMenu>
        <ul nz-menu>
          <li nz-menu-item (click)="addAffair(t.id)">新增事件</li>
          <li nz-menu-item (click)="deleteTrack(t.id)">删除支线</li>
          <li nz-menu-item (click)="visibility(t)">显示/隐藏</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="menu-button" nz-button nzType="default" nzSize="small">
      <span nz-icon nzType="menu" nzTheme="outline"></span>
    </button>
    <nz-dropdown-menu #menu>
      <ul nz-menu>
        <li nz-menu-item (click)="addTrack()">新增支线</li>
      </ul>
    </nz-dropdown-menu>
  </nz-content>

</nz-layout>



