:host {
  display: block;
  background: #f9f9f9;
  height: 100%;
  .layout {
    height: 100%;
    background: #f9f9f9;
    .content {
      padding: 5px;
      position: relative;
      .track {
        width: 200px;
        .track-name {
          position: relative;
          height: 40px;
          text-align: center;
          line-height: 40px;
          font-weight: bold;
          background: #fff;
          margin-bottom: 20px;
          button {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        .track-name:hover button {
          display: block;
        }
        .timeline {
          .timeline-item {
            cursor: pointer;
          }
        }
      }
      .menu-button {
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
    .detail {
      padding: 8px;
    }
  }
}
