<nz-layout class="layout">
  <nz-sider class="detail" nzTheme="light" nzWidth="300px">
    <app-track-panel *ngIf="selectedAffair" [affair]="selectedAffair"></app-track-panel>
  </nz-sider>
  <nz-content class="content">
    <div class="track">
      <div class="track-name">
        <span>主线</span>
        <button nz-button nzType="primary" nzSize="small" (click)="addAffair()">+</button>
      </div>
      <nz-timeline class="timeline">
        <nz-timeline-item *ngFor="let a of affairs">
          <div class="affair" (click)="selectAffair(a)">
            <span>{{a.name}}</span>
            <span class="date">{{a.startTime | date: 'MM-dd'}}</span>
          </div>
        </nz-timeline-item>
      </nz-timeline>
    </div>
    <button class="menu-button" nz-button nzType="default" nzSize="small">
      <span nz-icon nzType="menu" nzTheme="outline"></span>
    </button>
  </nz-content>

</nz-layout>



