
<div class="main">
  <div class="menu">
    <div class="logo" routerLink="/">
      <img src="https://traco-oss.oss-cn-hangzhou.aliyuncs.com/app/logo.png" alt="轨纪">
    </div>
  </div>
  <div class="user">
    <button [hidden]="!app.user" routerLink="/my-projects">my projects</button>
    <div nz-dropdown class="avatar" *ngIf="app.user" nzTrigger="click" [nzDropdownMenu]="menu">
      <img [src]="app.user.avatar" [alt]="app.user.name">
      <span nz-icon nzType="down" nzTheme="outline"></span>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item routerLink="/settings">settings</li>
        <li nz-menu-item (click)="logout()">logout</li>
      </ul>
    </nz-dropdown-menu>
    <button class="login" *ngIf="!app.user" (click)="login()">login</button>
  </div>
</div>

