:host {
  display: flex;
  background: #fff;
  height: 80px;
  justify-content: center;

  .main {
    width: 1056px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    .menu {
      height: 100%;
      .logo {
        height: 100%;
        cursor: pointer;
        img {
          height: 100%;
        }
      }
    }
    .user {
      display: flex;
      align-items: center;
      > button, > div {
        margin-left: 15px;
      }
      .avatar {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          margin-right: 5px;
        }
      }
    }

  }
}




